extends ../layout

block content
    form(method="post") 
        input(type="password", placeholder="Current Password" name="currentPw")
        input(type="password", placeholder="New Password" name="newPw")
        input(type="password", placeholder="New Password Confirmation" name="newPwConfirmation")
        input(type="submit", value="Change Password")