extends ../layout

block content 
    div.record-box
        video#preview
        button#actionBtn Start Recording
    if errorMessage 
        p=errorMessage
    div.form-box
        form(method="post", enctype="multipart/form-data").form
            label(for="video") Video File
            input(type="file", accept="/video/*", required, id="video", name="video")
            label(for="thumb") Thumbnail File
            input(type="file", accept="image/*", required, id="thumb", name="thumb")
            input(name="title" type="text" placeholder="Title" required, minLength=1, maxLength=50)
            input(name="description" type="text" placeholder="Description" maxLength=1000)
            input(name="hashtags" type="text" placeholder="Hashtags(separate by comma)")
            input(type="submit" value="Upload Video")
block scripts
    script(src="/assets/js/recorder.js") 